.signin-page {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signin-wrapper {
  text-align: left;
  position: relative;
  width: 50vmin;
}
.signin-wrapper img {
  position: absolute;
  left: 10px;
  top: 89px;
}
.signin-header {
  margin-bottom: 1rem;
}
.signin-form {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem;
}
.signin-form input {
  display: block;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 1rem;
  width: 100%;
}
.signin-form p {
  margin-bottom: 2rem;
  color: #346bd4;
}
.signin-form button {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
.signin-footer p {
  color: #858585;
  text-align: center;
}
.signin-footer span {
  color: #346bd4;
}
.googlebtn {
  background: #ffffff;
  width: 180px;
  border-radius: 10px;
  border: none;
  color: #858585;
  padding: 8px 20px;
  margin-bottom: 1rem;
  cursor: pointer;
}
